<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.united.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-lg-4 mt-5">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="fas fa-lock"></i>
                        Mot de passe oublié
                    </h4>
                </div>
                <div class="card-body">
                    {% for label, messages in app.flashes %}
                        <div class="alert alert-{{label}}">
                            {% for message in messages %}
                                <p>{{ message | raw }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %} 
                    <form method="post">
                        <input name="username" type="text" id="username" class="coucou"> {# honeypot #}
                        <div class="form-group"><label for="inputEmail">Email</label><input type="email" class="form-control" placeholder="Email ..." name="email" id="inputEmail"></div>
                        <input type="hidden" id="recaptchaResponse" name="g-recaptcha-response">
                        <input type="hidden" id="grecaptchakey" data-grecaptchakey="{{google_recaptcha_site_key}}"> 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                            <i class="far fa-paper-plane"></i>
                            Envoyer
                            </button>
                            <a href="{{ path('admin_account_login') }}" class="btn btn-link float-right">
                                <i class="fas fa-arrow-circle-left"></i>
                                Retour
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {#<script src="https://www.google.com/recaptcha/api.js?render={{google_recaptcha_site_key}}"></script>#}
    <script>
        var grecaptchakey = $('#grecaptchakey').data('grecaptchakey'); 
        document.write("<script src=\"https://www.google.com/recaptcha/api.js?render="+grecaptchakey+"\"><"+"/script>");
    </script>
    <script>
        $('.coucou').hide();
        grecaptcha.ready(function() {
          grecaptcha.execute(grecaptchakey, {action: 'submit'}).then(function(token) {
              document.getElementById("recaptchaResponse").value = token;
          });
        });
    </script>    
</body>
</html>