<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe !</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.united.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-lg-4 mt-5">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="fas fa-lock"></i>
                        Réinitialisation du mot de passe
                    </h4>
                </div>
                <div class="card-body">
                    {% for label, messages in app.flashes %}
                        <div class="alert alert-{{label}}">
                            {% for message in messages %}
                                <p>{{ message | raw }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %} 
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check"></i>
                        Confirmer
                        </button>
                        <a href="{{ path('admin_account_login') }}" class="btn btn-link float-right">
                            <i class="fas fa-arrow-circle-left"></i>
                            Retour
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>    
</body>
</html>