{% extends 'base.html.twig' %}

{% block title %}{{page.title}} | Ville de {{nom_mairie}}{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('css/front.publication.page') }}
{% endblock %}

{% block body %}
    <div class="container-fluid container-xl" id="headerRubrique">
        <div>
            {% if 'picsum' in page.coverImage %}
                <img src="{{page.coverImage}}" alt="{{page.title}}">
            {% elseif preview == true %}
                <img src="{{(publication_cover_path ~ page.coverImage) | imagine_filter('publication_title_edit') ~ '?' ~ random()}}" alt="{{page.title}}">
            {% else %}   
                <img src="{{(publication_cover_path ~ page.coverImage) | imagine_filter('publication_title_edit')}}" alt="{{page.title}}">    
            {% endif %}
        </div>
        <div id="headerRubriqueText">
            <div>
                {{page.title}}
            </div>
            <div>
                {{page.introduction}}
            </div>     
        </div>
    </div>
    <div id="marginHeaderRubrique" class="mb-5"></div>

    <div class="container-fluid container-xl" id="filAriane">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                {% for lien in filAriane  %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active">{{lien.title}}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ path( 'publication_router', {'slug' : lien.slug} ) }}">{{lien.title}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="container-fluid container-xl">
        <hr>
        <div class="row pt-4">
            {% if page.infosPratiques is not null or liensUtiles is not empty or page.ressources.count or page.galeries.count %}
                <div class="col-lg-9 mb-5" id="pageContent">
            {% else %}
                <div class="col" id="pageContent">
            {% endif %}
                {{page.content | raw}}
            </div>
            {% if page.infosPratiques is not null or liensUtiles is not empty or page.ressources.count or page.galeries.count %}
                <div class="col-lg-3" id="pageExtraInfos">
                    <div class="row">
                        {% if page.infosPratiques is not null %}
                            <div class="col-sm-6 col-lg-12 p-lg-0 mb-3">
                                <div class="card border-0 p-3 bg-light h-100">
                                    <p class="h5 text-center font-weight-bold pb-2"><i class="fas fa-info-circle"></i>&nbsp;INFOS PRATIQUES</p>
                                    {{page.infosPratiques | raw}}
                                </div>
                            </div>
                        {% endif %}
                        {% if liensUtiles is not empty %}
                        <div class="col-sm-6 col-lg-12 p-lg-0 mb-3">
                            <div class="card border-0 p-3 bg-light h-100">
                                <p class="h5 text-center font-weight-bold pb-2"><i class="fas fa-link"></i>&nbsp;LIENS UTILES</p>
                                <ul>
                                {% for lienUtile in liensUtiles %}
                                    <li><a href="{{lienUtile.url}}">{{lienUtile.title}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% if page.ressources.count %}
                            <div class="col-sm-6 col-lg-12 p-lg-0 mb-3">
                                <div class="card border-0 p-3 bg-light h-100">
                                    <p class="h5 text-center font-weight-bold pb-2"><i class="far fa-file-pdf"></i>&nbsp;RESSOURCES</p>
                                    <ul>
                                    {% for ressource in page.ressources %}
                                        {% if 'http://' in ressource.url  or 'https://' in ressource.url %} {# à virer #}
                                            <li><a href="{{ ressource.url }}" target="_blank">{{ressource.title}}</a></li>
                                        {% else %}
                                            {% set urlFileRessource = ressources_path ~ ressource.url %}
                                            <li><a href="{{ urlFileRessource }}" target="_blank">{{ressource.title}}&nbsp;{{ urlFileRessource | filesize }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if page.galeries.count %}
                            <div class="col-sm-6 col-lg-12 p-lg-0 mb-3">                        
                                <div class="card border-0 p-3 bg-light h-100">
                                    <p class="h5 text-center font-weight-bold pb-2"><i class="far fa-images"></i>&nbsp;GALERIE</p>
                                    <ul>
                                    {% for galerie in page.galeries %}
                                        <li><a href="{{ path('galerie', {'slug': galerie.slug}) }}">{{galerie.title}}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>                        
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}    
        </div>
    </div>
    <hr>
{% endblock %}

{% block javascripts %}
{% endblock %}