{% extends 'admin/base.html.twig' %}

{% block title %}Administration des Rubriques{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Corbeille des Rubriques</h1>
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center align-middle">Image de couverture</th>
                    <th class="text-center align-middle">Titre de la rubrique</th>
                    <th class="text-center align-middle">Introduction</th>
                    <th class="text-center align-middle"><button class="btn btn-outline-primary btnEmptyTrash" title="Vider la corbeille" style="width: 44px;"><i class="fas fa-dumpster-fire"></i></button></th>
                    <th class="text-center align-middle"><a href="{{ path('admin_rubrique_index') }}" class="btn btn-outline-primary" style="width: 44px" title="Retourner à l'index"><i class="fas fa-reply"></i></a></th>
                </tr>
            </thead>
            <tbody>
                {% for rubrique in rubriques %}
                    <tr data-id='{{ rubrique.id }}'>
                        {% if 'picsum' in rubrique.coverImage %} {# à virer une fois en prod #}
                            <td onclick="document.location = '{{ path('admin_rubrique_edit',{'id': rubrique.id }) }}?trash=true';" class="text-center align-middle" title="Editer">
                                <img style="max-width:300px;height:auto;" src="{{rubrique.coverImage}}" alt="">
                            </td>
                        {% else %}
                            <td onclick="document.location = '{{ path('admin_rubrique_edit',{'id': rubrique.id }) }}?trash=true';" class="text-center align-middle" title="Editer">
                                <img src="{{(publication_cover_path ~ rubrique.coverImage) | imagine_filter('publication_cover_index_thumb')}}" alt="">
                            </td>
                        {% endif %}
                        <td onclick="document.location = '{{ path('admin_rubrique_edit',{'id': rubrique.id }) }}?trash=true';" class="align-middle text-center" title="Editer">{{rubrique.title}}</td>
                        <td onclick="document.location = '{{ path('admin_rubrique_edit',{'id': rubrique.id }) }}?trash=true';" class="align-middle text-center" title="Editer">{{rubrique.introduction}}</td>
                        <td class="align-middle text-center">
                            <button data-id='{{ rubrique.id }}' data-title='{{ rubrique.title }}' class="btn btn-outline-primary btnDelete" title="Supprimer définitivement" style="width: 44px;"><i class="fas fa-fire-alt"></i></button>
                        </td>
                        <td class="align-middle text-center">
                            <button data-id='{{ rubrique.id }}' data-title='{{ rubrique.title }}' class="btn btn-outline-primary btnRestore" title="Restaurer" style="width: 44px;"><i class="fas fa-trash-restore"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
{% endblock %}

{% block javascripts %}
    <script src="/js/bootbox.min.js"></script>
    <script>
    
        $('.btnDelete').click(function(e) {
            var id = $(this).data('id');
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir supprimer cette rubrique définitivement ?",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-secondary',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-danger',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/rubrique/'+id+'/delete';
                            }
                        }
                    }
                }
            });
        });

        $('.btnRestore').click(function(e) {
            var id = $(this).data('id');
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir restaurer cette rubrique ?",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-secondary',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-danger',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/rubrique/'+id+'/restore';
                            }
                        }
                    }
                }
            });
        });

        $('.btnEmptyTrash').click(function(e) {
            bootbox.dialog({
                size: 'lg',
                message: "Êtes-vous sûr de vouloir vider la corbeille ? Vous allez supprimer tout son contenu définitivement !",
                buttons: {
                    annuler: {
                        label: 'Annuler',
                        className: 'btn-secondary',
                    },
                    valider: {
                        label: 'Valider',
                        className: 'btn-danger',
                        callback: function(result){
                            if (result) {
                                window.location = '/admin/rubrique/trash/empty';
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}