{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un nouvel événement{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<style>
    .custom-file-input {
        cursor: pointer;
    }

    legend {
        padding-top:0 !important;
    }

    /**************** button on off *******************/
    .custom-switch.custom-switch-adaptive {
        padding-left: 0;
    }
    .custom-switch.custom-switch-adaptive .custom-control-label {
        padding: 0 1.3em;
        cursor:pointer;
        position: relative;
        border-radius: 1em;
        line-height: 1.4em;
        /*color: #e45c27;*/
        border: 1px solid #e45c27;
        background-color: #f8f9fa;
        transition: background-color 200ms;
    }
    .custom-switch.custom-switch-adaptive .custom-control-label::before {
        content: none;
    }
    .custom-switch.custom-switch-adaptive .custom-control-label::after {
        position: absolute;
        background-color: #e45c27;
        height: 1.2em;
        top: 0.1em;
        left: 0.1em;
        width: 1.2em;
        border-radius: 1em;
        transition: left 200ms;
    }
    .custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label {
        color: #fff;
        background-color: #e45c27;
        border-color: #e45c27;
    }
    .custom-switch.custom-switch-adaptive .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #fff;
        left: calc(100% - 1.2em);
        transform: none;
        -webkit-transform: none;
    }
    /***********************************************/

    .custom-file-label {
        overflow: hidden;        
    }

    .selectize-dropdown-content {
        cursor:pointer;
    }

    .selectize-dropdown .optgroup-header {
        font-weight: bold;
        font-size: 16px;
        color: black;
    }

    .selectize-dropdown .optgroup .option {
        padding-left: 20px;
    }

    .selectize-input {
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .selectize-input.focus{  
        border-color: #f4ad94;
        outline:0;
        box-shadow: 0 0 0 0.2rem rgba(233, 84, 32, 0.25);
    }

    #publication_evenement_debut_evenement_time_hour {
        margin-left: 4px;
    }

    #publication_evenement_fin_evenement_time_hour {
        margin-left: 4px;
    }
    /*table {
        width:95% !important;
    }

    img {
        max-width:75%;
        height: auto !important;
    }*/

</style>
{% endblock %}

{% form_theme form with ['admin/partials/_collectionLienUtileExterneEdit.html.twig', 'admin/partials/_collectionRessourceEdit.html.twig', 'admin/partials/_statutEdit.html.twig', 'admin/partials/_collectionLienUtileInterneEdit.html.twig', 'admin/partials/_infosPratiquesEdit.html.twig', 'admin/evenement/_evenementStatut.html.twig'] %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Nouvel Événement</h1>
        <hr class="mb-5 mt-5">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.evenement.category)}}
                {{form_row(form.title)}}
                {{form_row(form.evenement.subtitle)}}
                {{form_row(form.introduction)}}
                {{form_row(form.evenement.debut_evenement)}}
                {{form_row(form.evenement.fin_evenement)}}
                {{form_row(form.statut)}}
            </div>
            <div class="col-lg-6">
                {{form_row(form.imageFile)}}
                <input id="inputImgFileName" type="hidden" data-imgfile="{{form.vars.value.coverImage}}">
            </div>    
        </div>
        <hr class="mt-5 mb-5">
        <div class='row'>
            <div class="col">
                {{ form_row(form.content) }}
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class='row'>
            <div class="col-lg-6">
                {{form_row(form.liens_utiles_externes)}}   
            </div>
            <div class="col-lg-6">
                {{form_row(form.liens_utiles_internes)}}    
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.ressources)}}
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.infos_pratiques)}}
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.galeries)}}
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row my-5">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button disabled="true" id="submit" type="submit" class="btn btn-primary mr-2">
                        <span id="b-e-default"><i class="far fa-save"></i></span> 
                        <span id="b-e-loading" class="spinner-border spinner-border-sm" style="display:none;" role="status"></span>
                        &nbsp;Enregistrer les modifications
                    </button>
                    <button id="preview" type="submit" class="btn btn-primary mr-2">
                        <i class="far fa-eye"></i>&nbsp;&nbsp;Prévisualiser
                    </button>
                    <a href="{{ path('admin_evenement_index') }}" class="btn btn-danger ml-2" id="cancel">
                        <i class="fas fa-undo-alt"></i>&nbsp;&nbsp;Retour à l'index
                    </a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>#}
    <script>

        // on améliore l'input de selection des galeries avec selectize

        $('select#publication_galeries').selectize({
            maxItems: 5,
            placeholder: 'Aucune galeries.',
            render: {
                item: function (data, escape) {
                    if (data.statut == false) {
                        return "<div class='item text-danger' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + " <i>(non publié ou à la corbeille)</i>" + "</div>"
                    } else {
                        return "<div class='item' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + "</div>"
                    }
                },
                option: function (data, escape) {
                    if (data.statut == false) {
                        return "<div class='option text-danger' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + " <i>(non publié ou à la corbeille)</i>" + "</div>"
                    } else {
                        return "<div class='option' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + "</div>"
                    }
                },
            }
        });        

        // gestion infos pratiques

        var emptyInfosPratiques;
        CKEDITOR.on("instanceReady", function(event) {
            $('#cke_publication_infos_pratiques').addClass('mb-3');
            if ($('#publication_infos_pratiques').val().length == 0) {
                emptyInfosPratiques = true;
                $('#cke_publication_infos_pratiques').hide();
            }
        });

        $('#ip-button').click(function(){
            $('#cke_publication_infos_pratiques').toggle();
            $('#add-ip-button').toggle();
            $('#delete-ip-button').toggle();
            emptyInfosPratiques = !emptyInfosPratiques;
        });

        $("#submit").click(function() {
            if (emptyInfosPratiques) {
                $('#publication_infos_pratiques').remove();
            }
            $(this).submit();
        });

        // Configuration de datepicker pour les inputs datetime

        $(document).ready(function() {
            !function(a){a.fn.datepicker.dates.fr={days:["dimanche","lundi","mardi","mercredi","jeudi","vendredi","samedi"],daysShort:["dim.","lun.","mar.","mer.","jeu.","ven.","sam."],daysMin:["d","l","ma","me","j","v","s"],months:["janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"],monthsShort:["janv.","févr.","mars","avril","mai","juin","juil.","août","sept.","oct.","nov.","déc."],today:"Aujourd'hui",monthsTitle:"Mois",clear:"Date indéfinie",weekStart:1,format:"dd/mm/yyyy"}}(jQuery);

            $('#publication_evenement_debut_evenement').datepicker({
                clearBtn: false,
                language: 'fr',
                format: 'dd-mm-yyyy',
                //startDate: 'now', 
                forceParse: false
            });

            $('#publication_evenement_fin_evenement').datepicker({
                clearBtn: true,
                language: 'fr',
                format: 'dd-mm-yyyy',
                //startDate: 'now', 
                forceParse: false
            });  
        });

        // input Image de couverture
        
        $('#publication_imageFile_file').next().html('<i class="text-muted">Veuillez choisir une image de couverture</i>');
        
        $(".vich-image a").removeAttr("href"); // supprime le lien href de vichupload

        $('#publication_imageFile_file').on('change', function(event) {
            var inputFile = event.currentTarget;
            if (inputFile.files.length == 1) {
                $(this).next().html(inputFile.files[0].name);
            } else if ( inputFile.files.length == 0) {
                $(this).next().html('<i class="text-muted">Veuillez choisir une image de présentation</i>');
            }
        });

        // gestion de la collection d'inputs des liens utiles internes

        $('#add-lien-interne').click(function(){
            // Je recupere le numero des futurs champs que je vais créer S
            const index= +$('#widgets-lien-interne-counter').val();
            // Je récupere le prototype des entrées 
            const tmpl= $('#publication_liens_utiles_internes').data('prototype').replace(/__name__/g, index);
            // J'injecte ce code au sein de la div
            $('#publication_liens_utiles_internes').append(tmpl);
            $('#widgets-lien-interne-counter').val(index + 1);
            //Je gère le bouton supprimer
            handleDeleteButtons();
            //on ajoute seelctize à l'input
            addSelectizeLiensUtilesInternes();
        });

        function updateCounterLiensUtilesInternes() {
            const count = $('#publication_liens_utiles_internes div.form-group').length;
            $('#widgets-lien-interne-counter').val(count);
        }
        updateCounterLiensUtilesInternes();

        function addSelectizeLiensUtilesInternes() { // On améliore l'input de selection avec selectize
            $('select.publication_liens_utiles_internes').selectize({
                render: {
                    item: function (data, escape) {
                        if (data.statut == false) {
                            return "<div class='item text-danger' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + " <i>(non publié ou à la corbeille)</i>" + "</div>"
                        } else {
                            return "<div class='item' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + "</div>"
                        }
                    },
                    option: function (data, escape) {
                        if (data.statut == false) {
                            return "<div class='option text-danger' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + " <i>(non publié ou à la corbeille)</i>" + "</div>"
                        } else {
                            return "<div class='option' data-statut='" + escape(data.statut) + "'>" + escape(data.text) + "</div>"
                        }
                    },
                    optgroup_header: function(item, escape) {
                        let value;
                        switch(item.value) {
                            case 'rubrique': value = "Rubriques"; break;
                            case 'sous-rubrique' : value = "Sous-rubriques"; break;
                            case 'actualite': value = "Actualités"; break;
                            case 'page' : value = "Pages"; break;
                            case 'evenement': value = "Événements"; break;
                            default: value = item.value; 
                        }
                        return '<div class="optgroup-header font-weight-bold">'+value+'</div>';     
                    }
                }
            });
        }
        addSelectizeLiensUtilesInternes();

        // gestion de la collection d'inputs des liens utiles externes

        $('#add-lien-externe').click(function(){
            // Je recupere le numero des futurs champs que je vais créer S
            const index= +$('#widgets-lien-externe-counter').val();
            // Je récupere le prototype des entrées 
            const tmpl= $('#publication_liens_utiles_externes').data('prototype').replace(/__name__/g, index);
            // J'injecte ce code au sein de la div
            $('#publication_liens_utiles_externes').append(tmpl);
            $('#widgets-lien-externe-counter').val(index + 1);
            //Je gère le bouton supprimer
            handleDeleteButtons();
        });

        function updateCounterLiensUtiles() {
            const count = $('#publication_liens_utiles_externes div.form-group').length;
            $('#widgets-lien-externe-counter').val(count);
        }
        updateCounterLiensUtiles();

        // gestion de la collection d'inputs des ressources

        $('#publication_ressources input[type="file"]').each(function(index) {
            if ($(this).data('rscfile') !== undefined) {
                var imgFile = $(this).data('rscfile').replace(/^(.*?)_/,'');
                $(this).next().html(imgFile);
            }
            $(this).on('change', function(event) {
                var inputFile = event.currentTarget;
                if (inputFile.files.length == 1) {
                    var file = $(this).prop('files');
                    if ((file[0]['size']>=10000000) || (file[0]['type'] != 'application/pdf')) {
                        $('#inputFileError_publication_ressources_'+index).html('Attention, fichier non valide ( pdf / < 10mo )');
                        $('#inputFileError_publication_ressources_'+index).show();
                        //$('#submit').prop('disabled', true);
                    } else {
                        $('#inputFileError_publication_ressources_'+index).html('');
                        $('#inputFileError_publication_ressources_'+index).hide();
                        //$('#submit').prop('disabled', false);
                    }
                    $(this).next().html(inputFile.files[0].name);
                } else if ( inputFile.files.length == 0) {
                    $(this).next().html($(this).data('rscfile'));
                }
            });
        });

        $('#add-ressource').click(function(){
            // Je recupere le numero des futurs champs que je vais créer S
            const index= +$('#widgets-ressource-counter').val();
            // Je récupere le prototype des entrées 
            const tmpl= $('#publication_ressources').data('prototype').replace(/__name__/g, index);
            // J'injecte ce code au sein de la div
            $('#publication_ressources').append(tmpl);
            $('#widgets-ressource-counter').val(index + 1);
            //Je gère le bouton supprimer
            handleDeleteButtons();
            // Je gère les informations 'string' dans l'input, ainsi que le message de contrainte
            $('#publication_ressources_'+index+'_urlFile_file').next().html('<i class="text-muted">Veuillez choisir un fichier</i>');
            $('#publication_ressources_'+index+'_urlFile_file').on('change', function(event) {
                var inputFile = event.currentTarget;
                if (inputFile.files.length == 1) {
                    var file = $(this).prop('files');
                    if ((file[0]['size']>=10000000) || (file[0]['type'] != 'application/pdf')) {
                        $('#inputFileError_publication_ressources_'+index).html('Attention, fichier non valide ( pdf / < 10mo )');
                        $('#inputFileError_publication_ressources_'+index).show();
                        //$('#submit').prop('disabled', true);
                    } else {
                        $('#inputFileError_publication_ressources_'+index).html('');
                        $('#inputFileError_publication_ressources_'+index).hide();
                        //$('#submit').prop('disabled', false);
                    }
                    $(this).next().html(inputFile.files[0].name);
                } else if ( inputFile.files.length == 0) {
                    $(this).next().html('<i class="text-muted">Veuillez choisir un fichier</i>');
                }
            });
        });

        function updateCounterRessources() {
            const count = $('#publication_ressources div.form-group').length;
            $('#widgets-ressource-counter').val(count);
        }
        updateCounterRessources();

        // on gere le bouton supprimer de chaques inputs lié aux collections
        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }
        handleDeleteButtons();

        // on gere le bouton de prévisualisation de la page

        var pathPreview = '/admin/evenement/null/preview';
        $('#preview').click(function (){
            $('form').attr('target', '_blank').attr('action',pathPreview);
            setTimeout(function() {
            $('form').removeAttr('target').removeAttr('action');        
            }, 500);
        });

        $(document).ready(function() {
            $('#submit').prop('disabled', false);
        });
    </script>
{% endblock %}